<html>
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>BEST BLOG EVER</h1>
			<a id="logout" href="/logout">Logout</a>
	</header>
		

		<%= yield %>

	<footer>
		<p>© 2015 // LS Web Development</p>
	</footer>

</body>
</html>